.footer-block 
  .container
    .footer-content
      .f-row 
        .f-col-12.f-col-md-6.f-col-xl-4
          ul.footer-menu 
            li
              a(href="/") Производство электрощитов
            li
              a(href="/") Проектирование
            li
              a(href="/") Портфолио
            li
              a(href="/") О компании
            li
              a(href="/") Контакты
            li
              a(href="/") Карьера
            li
              a(href="/") Сотрудничество
        .f-col-12.f-col-md-6.f-col-xl-8
          .f-row
            .f-col-12.f-col-xl-6
              .footer-contact 
                .footer-contact__icon.address
                .footer-contact__text <span class="font-w-bold">Офис:</span> 444 Kaya Rue, Hoegertown
            .f-col-12.f-col-xl-6
              .footer-contact 
                .footer-contact__icon.address
                .footer-contact__text <span class="font-w-bold">Склад:</span> 444 Kaya Rue, Hoegertown
          .f-row
            .f-col-12.f-col-xl-6
              a(href="tel:8 (495) 000-00-00").footer-contact 
                .footer-contact__icon.phone
                .footer-contact__text 8 (495) 000-00-00
            .f-col-12.f-col-xl-6
              a(href="tel:8 (800) 000-00-00").footer-contact 
                .footer-contact__icon.phone
                .footer-contact__text 8 (800) 000-00-00