.brand-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media (max-width: 767.98px) {
    margin-bottom: 30px;
  }
}
.brand-logo {
  width: calc(100% / 6);
  height: 90px;
  padding: 20px;
  border: 1px solid rgba(197, 198, 198, 0.3);
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.7;
    border: 1px solid rgba(197, 198, 198, 0.8);
  }
  @media (min-width: 992px) {
    &:nth-child(6n + 1) {
      border-left: none;
    }
    &:nth-child(6n) {
      border-right: none;
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        border-top: none;
      }

      &:nth-last-child(#{$i}) {
        border-bottom: none;
      }
    }
  }

  @media (max-width: 991.98px) {
    width: 25%;
    height: 85px;
    padding: 12px;
    &:nth-child(4n + 1) {
      border-left: none;
    }
    &:nth-child(4n) {
      border-right: none;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        border-top: none;
      }

      &:nth-last-child(#{$i}) {
        border-bottom: none;
      }
    }
  }
  @media (max-width: 767.98px) {
    width: 50%;

    &:nth-child(2n + 1) {
      border-left: none;
    }
    &:nth-child(2n) {
      border-right: none;
    }

    @for $i from 1 through 2 {
      &:nth-child(#{$i}) {
        border-top: none;
      }

      &:nth-last-child(#{$i}) {
        border-bottom: none;
      }
    }
  }
}
