mixin catalog-lvl2-type3()
  .catalog__lvl2
    a(href="#").catalog-back Назад
    ul.catalog__lvl2-list
      li
        a(href="#") Кабельная продукция
      li
        a(href="#") Провод ПНСВ для прогрева бетона
      li
        a(href="#") Провод СИП 1, СИП 2, СИП 3, СИП 4, СИП 5
      li
        a(href="#") Кабель с бумажной изоляцией
      li
        a(href="#") Кабель силовой с изоляцией из СПЭ 10 кВ
      li
        a(href="#") Кабельная продукция
      li
        a(href="#") Провод ПНСВ для прогрева бетона
      li
        a(href="#") Провод СИП 1, СИП 2, СИП 3, СИП 4, СИП 5
      li
        a(href="#") Кабель с бумажной изоляцией
      li
        a(href="#") Кабель силовой с изоляцией из СПЭ 10 кВ
      li
        a(href="#") Кабельная продукция
      li
        a(href="#") Провод ПНСВ для прогрева бетона
      li
        a(href="#") Провод СИП 1, СИП 2, СИП 3, СИП 4, СИП 5
      li
        a(href="#") Кабель с бумажной изоляцией
      li
        a(href="#") Кабель силовой с изоляцией из СПЭ 10 кВ
      li
        a(href="#") Кабельная продукция
      li
        a(href="#") Провод ПНСВ для прогрева бетона
      li
        a(href="#") Провод СИП 1, СИП 2, СИП 3, СИП 4, СИП 5
      li
        a(href="#") Кабель с бумажной изоляцией
      li
        a(href="#") Кабель силовой с изоляцией из СПЭ 10 кВ
      li
        a(href="#") Кабельная продукция