mixin catalog-lvl2-type1-show()
  .catalog__lvl2.showed
    a(href="#").catalog-back Назад
    ul.catalog__lvl2-list
      li
        a(href="#").has-inner-lvl Лампы
        .catalog__lvl3
          a(href="#").catalog-back Назад
          ul.catalog__lvl3-list
            li
              a(href="#") Лампы светодиодные
            li
              a(href="#") Лампы газоразрядные
            li
              a(href="#") Лампы галогенные
            li
              a(href="#") Лампы люминесцентные
            li
              a(href="#") Лампы накаливания
            li
              a(href="#") Лампы специального назначения
            li
              a(href="#") Лампы для растений и аквариумов 
      li
        a(href="#").has-inner-lvl Светильники
        .catalog__lvl3
          a(href="#").catalog-back Назад
          ul.catalog__lvl3-list
            li
              a(href="#") Светильники настенно-потолочные
            li
              a(href="#") Светильники даунлайты
            li
              a(href="#") Светильники армстронг
            li
              a(href="#") Настенные светильники
            li
              a(href="#") Потолочные светильники
            li
              a(href="#") Светильники подвесные, люстры
            li
              a(href="#") Прожекторы
      li
        a(href="#").has-inner-lvl Аксессуары и комплектующие для освещения
        .catalog__lvl3
          a(href="#").catalog-back Назад
          ul.catalog__lvl3-list
            li
              a(href="#") Блоки аварийного питания
            li
              a(href="#") Блоки защиты ламп
            li
              a(href="#") Импульстные зажигающие устройсвта
            li
              a(href="#") Крепеж и держатели для светильников
            li
              a(href="#") Опоры наружного освещения
            li
              a(href="#") Патроны для лампочек
            li
              a(href="#") Плафоны для светильников
            li
              a(href="#") Блоки аварийного питания
            li
              a(href="#") Блоки защиты ламп
            li
              a(href="#") Импульстные зажигающие устройсвта
            li
              a(href="#") Крепеж и держатели для светильников
            li
              a(href="#") Опоры наружного освещения
            li
              a(href="#") Патроны для лампочек
            li
              a(href="#") Плафоны для светильников
      li
        a(href="#").has-inner-lvl Фонари и переносные светильники
        .catalog__lvl3
          a(href="#").catalog-back Назад
          ul.catalog__lvl3-list
            li
              a(href="#") Лампы светодиодные
            li
              a(href="#") Лампы газоразрядные
            li
              a(href="#") Лампы галогенные
            li
              a(href="#") Лампы люминесцентные
            li
              a(href="#") Лампы накаливания
            li
              a(href="#") Лампы специального назначения
            li
              a(href="#") Лампы для растений и аквариумов 
