mixin features-item(title, img)
  .f-col-6.f-col-md-3.m-b-15.m-md-b-30
    .features-item
      .features-item__img.flex-img
        img(src="./images/icons/features/" + img, alt="")
      .features-item__title #{title}