mixin product-type(img, title)
  .f-col-12.f-col-md-6.f-col-xl-4.m-b-15.m-md-b-30
    a.product-type(style="background-image:url(./images/icons/product-types/" + img + ".svg)", href="/catalog2.html") 
      .product-type__title #{title}
      .product-type__text Идейные соображения высшего порядка, а также реализация намеченных плановых заданий.
