section.section-default.section-p_type2
  .container 
    .f-row 
      .f-col-12.f-col-lg-8 
        .page-title.m-b-25 Заголовок
        .default-content
          p Торгово-производственная компания ООО Компания ППРИА осуществляет комплексные поставки электрооборудования и следующих видов продукции на территории Россиии ближнего зарубежья.
          p Наша компания комплектует строительные и монтажные организации, промышленные предприятия, магазины и торговые компании. Благодаря многолетнему опыту и комплексному подходу наша Компания предлагает не только широкий ассортимент электротоваров, но и ряд дополнительных сервисов.
          p Обширная номенклатура предлагаемой продукции позволяет на 100% закрыть потребность заказчика. Это достигается за счет дилерских соглашений и наличия официального представительства многих производителей на всей территории России.
          .default-content__img.object-fit
            img(src="./images/default/pic1.png", alt="")