section.section-catalog.section-p_type2
  .container
    .catalog-content 
      .f-row 
        .f-col-12.f-col-md-3
          ul.catalog1-list.d-none.d-md-block 
            li.active
              a(href="/catalog2.html") Кабель и провод
            li
              a(href="/catalog2.html") Светотехника
            li
              a(href="/catalog2.html") Вентиляция
            li
              a(href="/catalog2.html") Электротовары
            li
              a(href="/catalog2.html") Молниезащита
            li
              a(href="/catalog2.html") Завод
          .dropdown.d-md-none.m-b-40.m-md-b-0
            button.dropdown-btn#catalog1List(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Кабель и провод
            ul.dropdown-menu(aria-labelledby='catalog1List')
              li.active
                a(href="/catalog2.html") Кабель и провод
              li
                a(href="/catalog2.html") Светотехника
              li
                a(href="/catalog2.html") Вентиляция
              li
                a(href="/catalog2.html") Электротовары
              li
                a(href="/catalog2.html") Молниезащита
              li
                a(href="/catalog2.html") Завод
        .f-col-12.f-col-md-9
          .page-title.m-b-20.m-lg-b-40 Кабель и провод
          ul.catalog2.html-list
            li
              a(href="/catalog3") Кабельная продукция
            li
              a(href="#") Провод ПНСВ для прогрева бетона
            li
              a(href="#") Провод СИП 1, СИП 2, СИП 3, СИП 4, СИП 5
            li
              a(href="#") Кабель с бумажной изоляцией
            li
              a(href="#") Кабель силовой с изоляцией из СПЭ 10 кВ
            li
              a(href="#") Кабельная продукция
            li
              a(href="#") Провод ПНСВ для прогрева бетона
            li
              a(href="#") Провод СИП 1, СИП 2, СИП 3, СИП 4, СИП 5
            li
              a(href="#") Кабель с бумажной изоляцией
            li
              a(href="#") Кабель силовой с изоляцией из СПЭ 10 кВ
            li
              a(href="#") Кабельная продукция
            li
              a(href="#") Провод ПНСВ для прогрева бетона
            li
              a(href="#") Провод СИП 1, СИП 2, СИП 3, СИП 4, СИП 5
            li
              a(href="#") Кабель с бумажной изоляцией
            li
              a(href="#") Кабель силовой с изоляцией из СПЭ 10 кВ
            li
              a(href="#") Кабельная продукция
            li
              a(href="#") Провод ПНСВ для прогрева бетона
            li
              a(href="#") Провод СИП 1, СИП 2, СИП 3, СИП 4, СИП 5
            li
              a(href="#") Кабель с бумажной изоляцией
            li
              a(href="#") Кабель силовой с изоляцией из СПЭ 10 кВ
            li
              a(href="#") Кабельная продукция
            li
              a(href="#") Провод ПНСВ для прогрева бетона
            li
              a(href="#") Провод СИП 1, СИП 2, СИП 3, СИП 4, СИП 5
            li
              a(href="#") Кабель с бумажной изоляцией
            li
              a(href="#") Кабель силовой с изоляцией из СПЭ 10 кВ
            li
              a(href="#") Кабельная продукция
            li
              a(href="#") Провод ПНСВ для прогрева бетона
            li
              a(href="#") Провод СИП 1, СИП 2, СИП 3, СИП 4, СИП 5
            li
              a(href="#") Кабель с бумажной изоляцией
            li
              a(href="#") Кабель силовой с изоляцией из СПЭ 10 кВ