section.section-services-page.section-pb
  .container 
    .section-top.m-b-30
      h1.section-title Услуги
    .services-list 
      .services-item
        h2.section-subtitle.services-item__title Повышение уникальности текста
        .services-item__list.f-row.m-n-b-20.m-n-md-b-30
          +service-item('1.png', 'Повысить уникальность статьи или эссе', 'до 8 стр, 250 ₽', '#')
          +service-item('2.jpg', 'Повысить уникальность курсовой работы или реферата', 'от 8 до 50 стр, 499 ₽', '#')
          +service-item('3.jpg', 'Повысить уникальность дипломной работы или магистерской диссертации', 'от 50 до 120 стр, 499 ₽', '#')
          +service-item('4.jpg', 'Повысить уникальность кандидатской или докторской диссертации', 'от 120 стр, 1 999 ₽', '#')
      .services-item
        h2.section-subtitle.services-item__title Проверка уникальности текста
        .services-item__list.f-row.m-n-b-20.m-n-md-b-30
          +service-item('5.png', 'Проверить оригинальность текста онлайн в Антиплагиат.ВУЗ (только процент)', '49 ₽', '#')
          +service-item('6.jpg', 'Проверить текст на уникальность (краткий отчет с системы Антиплагиат.ВУЗ)', '99 ₽', '#')
          +service-item('6.jpg', 'Проверить текст на антиплагиат в системе Антиплагиат.ВУЗ (полный отчет + справка)', '249 ₽', '#')
      .services-item
        h2.section-subtitle.services-item__title Рерайт и копирайтинг
        .services-item__list.f-row.m-n-b-20.m-n-md-b-30
          +service-item('8.png', 'Автоматический (машинный) рерайт текста онлайн', '25 ₽/стр', '#')
          +service-item('9.jpg', 'Ручной (авторский) рерайт текста онлайн', '120 ₽/стр', '#')
      .services-item
        h2.section-subtitle.services-item__title Оформление ГОСТ
        .services-item__list.f-row.m-n-b-20.m-n-md-b-30
          +service-item('10.png', 'Оформить реферат или курсовую работу по ГОСТу 2022', '650 ₽', '#')
          +service-item('11.jpg', 'Оформить дипломную работу или диссертацию по ГОСТу 2022', '1 000 ₽', '#')
      .services-item
        h2.section-subtitle.services-item__title Убрать знак «подозрительный документ»
        .services-item__list.f-row.m-n-b-20.m-n-md-b-30
          +service-item('12.png', 'Убрать знак «подозрительный документ» в Антиплагиате', '500 ₽', '#')