.header-top {
  padding: 18px 0;
  @media (max-width: 1199.98px) {
    background-color: $clr-grey;
  }
  @media (max-width: 575.98px) {
    padding: 10px 0 9px;
  }
}
.header-top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-descriptor {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $clr-text-alt2;
}
.btn-tel {
  padding-left: 24px;
  font-family: $font-family-alt;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: transparentize($clr-text, 0.1);
  background-image: url('./../images/icons/phone.svg');
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left;
}

.btn-contact-us {
  padding: 12px 28px;
  font-size: 14px;
}
.btn-cart {
  background-color: $clr-grey;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-image: url('./../images/icons/cart.svg');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  position: relative;
  transition: all 0.2s linear;
  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    background-color: $clr-grey-light;
  }
  @media (max-width: 1199.98px) {
    background-color: #fff;
    margin-left: auto;
  }

  .cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: $clr-main;
    border-radius: 50%;
    color: $clr-text;
    text-align: center;

    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }
}
.btn-toggle-menu {
  @media (max-width: 1199.98px) {
    margin-left: 25px;
    width: 33px;
    height: 22px;
    border: none;
    background-color: transparent;
    background-image: url('./../images/icons/burger.svg');
    background-position: center;
    background-size: 33px 22px;
  }

  &.open {
    @media (max-width: 1199.98px) {
      background-image: url('./../images/icons/close.svg');
    }
  }
}
