.sorting {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  &__title {
    margin-bottom: 0;
    margin-right: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: $clr-text;
  }
}
.select-sorting {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  color: $clr-text-alt2;
  border: 1px solid rgba(196, 196, 196, 0.5);
  overflow: hidden;
  option {
    &::selection {
      background-color: $clr-main;
    }
  }
}
