mixin screenshots-slide(img)
  .screenshots-slide.ss-item
    .screenshots-slide__img.flex-img 
      img(src='./images/reviews/' + img, alt="")
    a(href='./images/reviews/' + img, data-fancybox="reviews-screenshots").slide-full-size В полном размере
  
