mixin thank-slide(img)
  .thank-slide.ss-item
    .thank-slide__img.flex-img 
      img(src='./images/reviews/' + img, alt="")
    a(href='./images/reviews/' + img, data-fancybox="reviews-thank").slide-full-size В полном размере
