.header-desktop.hidden-xl-down
  .header-top
    .container
      .header-top-wrap
        a(href="/").page-logo.flex-img
        .header-descriptor Cервис НОМЕР 1<br> в России и СНГ
        .header-descriptor Поддержка по всем<br> вопросам 24/7
        a(href="tel:8 000 000-00-00").btn-tel 8 000 000-00-00
        a(href="tel:8 000 000-00-00").btn-tel 8 000 000-00-00
        a(href="#contactUs", data-toggle="modal").btn.btn-default.btn-contact-us Связаться с нами
        a(href="/cart.html").btn-cart
          .cart-count 1 
  .header-menu
    .container 
      .header-menu-wrap
        nav.header-menu-nav
          ul.nav.navbar-nav
            li
              a(href="/") О компании
            li
              a(href="/") Гарантии
            li.dropdown
              a(href="/", data-toggle="dropdown",  role="button") Услуги
              ul.dropdown-menu
                li
                  a(href='#') Повысить уникальность статьи или эссе
                li
                  a(href='#') Повысить уникальность курсовой работы или реферата
                li
                  a(href='#') Повысить уникальность дипломной работы или магистерской диссертации
                li
                  a(href='#') Повысить уникальность кандидатской или докторской диссертации
                li
                  a(href='#') Проверить оригинальность текста онлайн в Антиплагиат.ВУЗ (только процент)
                li
                  a(href='#') Проверить текст на уникальность (краткий отчет с системы Антиплагиат.ВУЗ)
                li
                  a(href='#') Проверить текст на антиплагиат в системе Антиплагиат.ВУЗ (полный отчет + справка)
                li
                  a(href='#') Автоматический (машинный) рерайт текста онлайн
                li
                  a(href='#') Ручной (авторский) рерайт текста онлайн
                li
                  a(href='#') Оформить реферат или курсовую работу по ГОСТу 2022
                li
                  a(href='#') Оформить дипломную работу или диссертацию по ГОСТу 2022
                li
                  a(href='#') Убрать знак «подозрительный документ» в Антиплагиате
            li
              a(href="/") Цены
            li
              a(href="/reviews.html") Отзывы
            li
              a(href="/") Вакансии
            li
              a(href="/useful-videos.html") Полезные видео
            li
              a(href="/") Помощь
        .header-menu-panel
          a(href="/").btn.btn-default-alt Проверить уникальность
          a(href="/").btn.btn-default-alt Повысить уникальность
.header-mobile.hidden-xl-up
  .header-top
    .container
      .header-top-wrap
        a(href="/").page-logo.flex-img
          img(src="./images/logo.svg", alt="")
        a(href="/cart.html").btn-cart
          .cart-count 1 
        button.btn-toggle-menu
  .header-menu
    .container
      .header-menu-content
        .header-mobile-menu-panel
          a(href="/").btn.btn-default-alt Проверить уникальность
          a(href="/").btn.btn-default-alt Повысить уникальность
        .header-mobile-descriptors
          .header-descriptor Cервис НОМЕР 1 в России и СНГ
          .header-descriptor Поддержка по всем вопросам 24/7
        .header-mobile-tels
          a(href="tel:8 000 000-00-00").btn-tel 8 000 000-00-00
          a(href="tel:8 000 000-00-00").btn-tel 8 000 000-00-00
        a(href="#contactUs", data-toggle="modal").btn.btn-default.btn-contact-us Связаться с нами
        nav.header-menu-nav
          ul.nav.navbar-nav
            li
              a(href="/") О компании
            li
              a(href="/") Гарантии
            li
              a.inner-lvl.collapsed(href="#submenu1", role="button", data-toggle="collapse") Услуги
              ul#submenu1.collapse.inner-menu
                li
                  a(href='#') Повысить уникальность статьи или эссе
                li
                  a(href='#') Повысить уникальность курсовой работы или реферата
                li
                  a(href='#') Повысить уникальность дипломной работы или магистерской диссертации
                li
                  a(href='#') Повысить уникальность кандидатской или докторской диссертации
                li
                  a(href='#') Проверить оригинальность текста онлайн в Антиплагиат.ВУЗ (только процент)
                li
                  a(href='#') Проверить текст на уникальность (краткий отчет с системы Антиплагиат.ВУЗ)
                li
                  a(href='#') Проверить текст на антиплагиат в системе Антиплагиат.ВУЗ (полный отчет + справка)
                li
                  a(href='#') Автоматический (машинный) рерайт текста онлайн
                li
                  a(href='#') Ручной (авторский) рерайт текста онлайн
                li
                  a(href='#') Оформить реферат или курсовую работу по ГОСТу 2022
                li
                  a(href='#') Оформить дипломную работу или диссертацию по ГОСТу 2022
                li
                  a(href='#') Убрать знак «подозрительный документ» в Антиплагиате
            li
              a(href="/") Цены
            li
              a(href="/reviews.html") Отзывы
            li
              a(href="/") Вакансии
            li
              a(href="/") Полезные видео
            li
              a(href="/") Помощь
