extends ../layouts/page-layout.pug

block variables
	- var title = 'Главная страница';

block content

	// Page header
	header.header
		include ./../sections/header/header.pug

	// Page content
	main.content
		+breadcrumbs("Кабель и провод", "Каталог")
		include ./../sections/pages/catalog/catalog2.pug
		include ./../sections/sliders/seen-before.pug

block footer
	// Page footer
	footer#bottom.footer
		include ./../sections/footer/footer.pug