include ./../mixins/breadcrumbs.pug
include ./../mixins/service-card.pug
include ./../mixins/advantages-slide.pug
include ./../mixins/programs-slide.pug
include ./../mixins/reviews-slide.pug
include ./../mixins/thank-slide.pug
include ./../mixins/screenshots-slide.pug
include ./../mixins/service-item.pug
include ./../mixins/article-card.pug
include ./../mixins/check-system.pug
include ./../mixins/extra-service.pug
include ./../mixins/service-choose.pug