.footer-top 
  .container
    .footer-block
      nav.footer-menu
        ul.nav.navbar-nav
          li 
            a(href="") Вакансии
          li 
            a(href="") Контакты
          li 
            a(href="") Реквизиты
          li 
            a(href="") Документы
      .footer-attestation Аттестован WebMoney
      .footer-socials.socials 
        a.socials-item(href="/", target="_blank", style="background-image:url(./images/icons/socials/fb.svg);")
        a.socials-item(href="/", target="_blank", style="background-image:url(./images/icons/socials/vk.svg);")
        a.socials-item(href="/", target="_blank", style="background-image:url(./images/icons/socials/ig.svg);")
        a.socials-item(href="/", target="_blank", style="background-image:url(./images/icons/socials/yt.svg);")
      .footer-payments.payments
        .payments__item.master-card
        .payments__item.visa
        .payments__item.mir
        .payments__item.apple-pay
        .payments__item.google-pay
        .payments__item.yoomoney