extends ../layouts/page-layout.pug

block variables
	- var title = 'Blog — Anti-Antiplagiat';

block content

	// Page header
	header.header
		include ./../sections/header/header.pug

	// Page content
	main.content
		+breadcrumbs('Статья', 'Блог')
		include ./../sections/pages/blog/article.pug

block footer
	// Page footer
	footer#bottom.footer
		include ./../sections/footer/footer.pug