extends ../layouts/page-layout.pug

block variables
	- var title = 'Документ успешно проверен! — Anti-Antiplagiat';

block content

	// Page header
	header.header
		include ./../sections/header/header.pug

	// Page content
	main.content
		+breadcrumbs('Проверить уникальность текста', 'Услуги')
		include ./../sections/pages/services/check-unique/doc-checked.pug

block footer
	// Page footer
	footer#bottom.footer
		include ./../sections/footer/footer.pug