// Variables
$font-family: 'Century Gothic', sans-serif;
$font-sz: 14px;

$font-w: 400;
$font-w-medium: 500;
$font-w-semibold: 600;
$font-w-bold: 700;
$font-w-extra-bold: 800;
$font-w-black: 900;

$pd-btn: 14px 24px;
$pd-form: 8.5px 15px;

$h-min-btn: 30px;
$h-min-form: 40px;

$rad-main: 10px;
$rad-secondary: 5px;
$rad-circle: 50%;

$clr-main: #2c1390;
$clr-main-alt: #006471;
$clr-secondary: #2c1390;
$clr-secondary-alt: #006471;
$clr-grey: #c5c6c6;
$clr-grey-light: #f7f7f7;
$clr-grey-lighter: #e5e5e5;
$clr-grey-dark: #9b9b9b;
$clr-grey-darken: #464646;
$clr-grey-darkest: #333333;
$clr-text: #303030;
$clr-text-alt: #434343;
$clr-text-white: #ffffff;
$clr-footer: #ffffff;
$clr-black: #303030;
