include ./../mixins/catalog-lvl2-type1.pug
include ./../mixins/catalog-lvl2-type2.pug
include ./../mixins/catalog-lvl2-type1-show.pug
include ./../mixins/catalog-lvl2-type3.pug
include ./../mixins/features-item.pug
include ./../mixins/product-type.pug
include ./../mixins/product-card.pug
include ./../mixins/advantage-item.pug
include ./../mixins/clients-slide.pug
include ./../mixins/breadcrumbs.pug
include ./../mixins/alphabet-list.pug
include ./../mixins/brand-group.pug
include ./../mixins/cart-item.pug
include ./../mixins/result-list-item.pug