section.section-about.section-p_type2
  .container
    .about
      .section-title.m-b-25 О компании
      .about__text Компания пПРапапап комплектует строительные и монтажные организации, промышленные предприятия, магазины и торговые компании. Благодаря многолетнему опыту и комплексному подходу наша компания предлагает не только широкий ассортимент электротоваров, но и ряд дополнительных сервисов.
      .about__img.flex-img
        img(src="./images/icons/quotes.svg", alt="")