section.section-advantages.section-p_type2
  .container
    .section-content
      .section-title.m-b-30.m-lg-b-40 Преимущества работы с нами
      .advantages-list
        .f-row.m-n-b-15.m-n-md-b-30
          +advantage-item("Скидки", "Скидки до 10% при заказе оптом", "1")
          +advantage-item("Бесплатная доставка", "По Москве и Подмосковью", "2")
          +advantage-item("самовывоз", "Получение в 150 пунктах выдачи", "3")
          +advantage-item("Бесплатная доставка", "По Москве и Подмосковью", "2")