section.section-slider.section-p_type2
  .container 
    .section-content
      .section-title.section-title--slider.m-b-30.m-lg-b-40 Наши клиенты
      .clients-slider.slider-btns-dflt
        .clients-slider-wrap 
          +clients-slide("1.png")
          +clients-slide("2.png")
          +clients-slide("3.png")
          +clients-slide("4.png")
          +clients-slide("5.png")
          +clients-slide("6.png")
          +clients-slide("7.png")
          +clients-slide("8.png")
          +clients-slide("1.png")
          +clients-slide("2.png")
          +clients-slide("3.png")
          +clients-slide("4.png")
          +clients-slide("5.png")
          +clients-slide("6.png")
          +clients-slide("7.png")
          +clients-slide("8.png")
        .slider-controls
          .btns-switch
            button.btn-no-styles.btn-switch.prev
            button.btn-no-styles.btn-switch.next