section.section-p_type1.section-features
  .container 
    .features-list
      .f-row.m-n-b-15.m-n-md-b-30
        +features-item("Торговая марка", "feature1.svg")
        +features-item("Индивидуальные разработки по проектам", "feature2.svg")
        +features-item("500 000 товаров", "feature3.svg")
        +features-item("Онлайн сервис для закупщиков", "feature4.svg")