section.section-main-slider
  .main-slider 
    .main-slider-wrap
      .main-slide
        .main-slide-content
          .main-slide__media.object-fit
            img(src="./images/main-slider/1.jpg", alt="")
          .main-slide__text
            .container 
              .main-slide__title Комплексное сопровождение объектов
              .main-slide__subtitle Оцените эффективность комплексных поставок оборудования — все бренды в одном месте для тех, кто понимает.<br> Откройте для себя новый уровень цен — поставщики познаются в сравнении!
      .main-slide
        .main-slide-content
          .main-slide__media.object-fit
            img(src="./images/main-slider/1.jpg", alt="")
          .main-slide__text
            .container 
              .main-slide__title сопровождение объектов 2
              .main-slide__subtitle Оцените эффективность комплексных поставок оборудования — все бренды в одном месте для тех, кто понимает. Откройте для себя новый уровень цен — поставщики познаются в сравнении!
      .main-slide
        .main-slide-content
          .main-slide__media.object-fit
            img(src="./images/main-slider/1.jpg", alt="")
          .main-slide__text
            .container 
              .main-slide__title сопровождение объектов 3
              .main-slide__subtitle Оцените эффективность комплексных поставок оборудования — все бренды в одном месте для тех, кто понимает. Откройте для себя новый уровень цен — поставщики познаются в сравнении!
      .main-slide
        .main-slide-content
          .main-slide__media.object-fit
            img(src="./images/main-slider/1.jpg", alt="")
          .main-slide__text
            .container 
              .main-slide__title сопровождение объектов 4
              .main-slide__subtitle Оцените эффективность комплексных поставок оборудования — все бренды в одном месте для тех, кто понимает. Откройте для себя новый уровень цен — поставщики познаются в сравнении!
      .main-slide
        .main-slide-content
          .main-slide__media.object-fit
            img(src="./images/main-slider/1.jpg", alt="")
          .main-slide__text
            .container 
              .main-slide__title сопровождение объектов 5
              .main-slide__subtitle Оцените эффективность комплексных поставок оборудования — все бренды в одном месте для тех, кто понимает. Откройте для себя новый уровень цен — поставщики познаются в сравнении!
    .slider-controls
      .container
        .slider-controls-content
          .slider-counter
            .counter-current 01
            .counter-divider / 
            .counter-total
    .slider-controls.slider-controls_2
      .container
        .slider-controls-content
          .btns-switch
            button.btn-no-styles.btn-switch.prev
            button.btn-no-styles.btn-switch.next