section.section-slider.section-p_type2
  .container
    .section-content
      .section-title.section-title--slider.m-b-30.m-lg-b-40 Новинки
      .slider-default.slider-btns-dflt
        .slider-default-wrap.margin-sliders
          .slide-content
            +product-card("Кабель КВОРЭН 1*6-5")
          .slide-content
            +product-card("Кабель КВОРЭН 1*6-5")
          .slide-content
            +product-card("Кабель КВОРЭН 1*6-5")
          .slide-content
            +product-card("Кабель КВОРЭН 1*6-5")
          .slide-content
            +product-card("Кабель КВОРЭН 1*6-5")
          .slide-content
            +product-card("Кабель КВОРЭН 1*6-5")
        .slider-controls
          .btns-switch
            button.btn-no-styles.btn-switch.prev
            button.btn-no-styles.btn-switch.next