section.section-p_type2.section-product-types
  .container 
    .product-types
      .section-title.m-b-30.m-lg-b-40 Виды продукции
      .f-row.m-n-b-15.m-n-md-b-30
        +product-type("1", "Кабель и провод")
        +product-type("2", "Светотехника")
        +product-type("3", "Вентиляция")
        +product-type("4", "Электротовары")
        +product-type("5", "Молниезащита")
        +product-type("6", "Завод")