section.section-doc-checked.section-pb
  .container 
    .section-top.m-b-15
      h1.section-title3 Документ успешно проверен!
    .f-row
      .f-col-12.f-col-xl-8
        .doc-checked
          .doc-checked__subtitle Проверка в системе Антиплагиат.ВУЗ завершена. Результаты проверки будут отправлены вам на электронную почту после оплаты:
          .doc-checked__services
            .service-check
              input#service1(type="checkbox", name="", checked)
              label(for="service1").service-check-lbl
                .service-check-lbl__title Проверка в системе Антиплагиат.ВУЗ
                .service-check-lbl__price 249 ₽
            .doc-checked__services-group-title Дополнительные услуги
            .service-check
              input#service2(type="checkbox", name="")
              label(for="service2").service-check-lbl
                .service-check-lbl__title Проверить на техническое кодирование и на скрытый текст
                .service-check-lbl__price 150 ₽
            .service-check
              input#service3(type="checkbox", name="")
              label(for="service3").service-check-lbl
                .service-check-lbl__title Почистить от технического кодирования и от скрытого текста
                .service-check-lbl__price 500 ₽
          .doc-checked-result
            .doc-checked-result__info
              .doc-checked-result__info-title Итого к оплате:
              .doc-checked-result__info-price 249 ₽
            a(href="/").btn.btn-default Оплатить 