.guarantee {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px 0;
  border-bottom: 1px solid transparentize($clr-secondary, 0.95);

  @media (max-width: 575.98px) {
    padding: 15px 0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__number {
    margin-right: 30px;
    width: 50px;
    flex-shrink: 0;

    font-family: $font-family-alt;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: $clr-main;

    @media (max-width: 991.98px) {
      margin-right: 20px;
    }
    @media (max-width: 575.98px) {
      width: 40px;
      font-size: 30px;
      margin-right: 17px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: transparentize($clr-text, 0.1);
    @media (max-width: 575.98px) {
      font-size: 14px;
    }
  }
}

.section-guarantees {
  .btns-group {
    margin-top: 40px;
    display: flex;
    @media (max-width: 991.98px) {
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 767.98px) {
      flex-direction: column;
    }
    .btn {
      @media (max-width: 767.98px) {
        width: 100%;
      }
      &:not(:first-of-type) {
        margin-left: 15px;
        @media (max-width: 767.98px) {
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }
  }
}
