section.section-programs.section-pb
  .container
    .section-top.m-b-40.m-md-b-50
      h2.section-title С этим товаром также покупают
    .programs-slider
      .programs-slider-wrap.slick-slider-alt
        +programs-slide('1.png', 'Новинка', 'В наличии: 19 шт', 'Программа «Антиплагиат Киллер 2022» (Professional)', '19 900 ₽')
        +programs-slide('2.png', 'Акция', 'В наличии: 7 шт', 'Программа авы-авы базовая версия (2005-2021)', '5 000 ₽', '15 000 ₽')
        +programs-slide('3.png', 'Рассрочка', 'В наличии: 7 шт', 'Программа, повышающая оригинальность текста «Антиплагиат Киллер 2017 Final» (профессиональная версия)', '15 000 ₽', '25 000 ₽')
        +programs-slide('4.png', 'Хит', 'В наличии: 8 шт', 'Программа, повышающая оригинальность текста «Антиплагиат Киллер 2018» (профессиональная версия)', '15 000 ₽', '25 000 ₽')
