.bank-details-list {
  .bank-details {
    margin-top: 15px;
  }
}
.bank-details {
  padding: 25px 20px;
  background-color: #f9f9f9;
  @media (max-width: 767.98px) {
    padding: 20px;
  }
  &__title {
    margin-bottom: 15px;
    padding-left: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: $clr-text;
    border-left: 3px solid $clr-main;
  }
  &__item {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: $clr-text;
    p {
      margin-bottom: 10px;
      &:last-of-type {
        margin: 0;
      }
    }
  }
}
.paymant-notice {
  position: relative;
  margin-top: 30px;
  padding: 30px 20px;
  background-color: $clr-main;
  @media (max-width: 767.98px) {
    padding: 20px;
  }

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $clr-text;
  span {
    position: relative;
    z-index: 10;
  }

  a {
    color: $clr-text;
    text-decoration: underline;
  }

  &::after {
    content: '!';
    position: absolute;
    top: -28px;
    right: 15px;

    font-family: $font-family-alt;
    font-style: normal;
    font-weight: 700;
    font-size: 175px;
    line-height: 100%;
    letter-spacing: -0.005em;
    color: rgba(255, 255, 255, 0.33);
  }
}

.payment-after {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $clr-text;

  p {
    margin-bottom: 10px;
    &:last-of-type {
      margin: 0;
    }
  }
}
