.file-lbl {
  background-color: $clr-grey-light;
  border: 1px dashed rgba(31, 31, 31, 0.33);
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;

  &.hover,
  &:hover {
    border-color: $clr-secondary;
    .file-lbl__text {
      color: $clr-text;
    }
  }
  &.loading {
    border-color: $clr-main;
    background-color: transparentize($clr-main, 0.8);
    .file-lbl__text {
      color: $clr-text;
    }
  }
  &.loaded {
    background-color: rgba(98, 204, 48, 0.15);
    border-color: #62cc30;
    .file-lbl__text {
      color: #62cc30;
    }
  }

  &--sm {
    padding: 25px;
    min-height: 98px;
    min-width: 260px;
    text-align: center;
    width: fit-content;
  }
  &--lg {
    padding: 30px;
    min-height: 175px;
    min-width: 100%;
    text-align: center;
    @media (max-width: 991.98px) {
      padding: 20px;
    }

    .file-lbl {
      &__text {
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.01em;
        color: $clr-text;
        @media (max-width: 991.98px) {
          font-size: 16px;
          line-height: 135%;
        }
      }
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: $clr-text-alt2;
    transition: color 0.2s linear;
  }
  &__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: $clr-text-alt2;
    @media (max-width: 991.98px) {
      font-size: 12px;
    }
  }
}
