section.section-progress-page.section-pb
  .container
    .progress-page
      h1.section-title3.m-b-15.m-md-b-30 Анализ документа
      .progress-page__doc-info.doc-info 
        .doc-info__item
          .doc-info__item-key Название документа
          .doc-info__item-value Диплом
        .doc-info__item
          .doc-info__item-key Формат загрузки
          .doc-info__item-value .docx
        .doc-info__item
          .doc-info__item-key Дата загрузки
          .doc-info__item-value 25.01.2022
        .doc-info__item
          .doc-info__item-key Вес документа
          .doc-info__item-value 20 КБ
        .doc-info__item
          .doc-info__item-key Количество слов
          .doc-info__item-value 3 789
        .doc-info__item
          .doc-info__item-key Количество символов
          .doc-info__item-value 10 159
        .doc-info__item
          .doc-info__item-key Количество страниц
          .doc-info__item-value 11
      .progress-page__progressbar.progressbar
        .progressbar__title Производится повышение уникальности документа
        .progress-line
          .progress-line__actual(style='width:33%;') 33%
        .progressbar__wait-time Время ожидания 2-3 мин