section.section-thank-page.section-pb
  .container
    .thank-page
      h1.section-title3.m-b-15 Спасибо!
      .thank-page__subtitle Ваш заказ принят. Наш менеджер свяжется с вами как можно скорее. Пожалуйста, ожидайте.
      .thank-page__btns
        a(href="/").btn.btn-default-alt.m-t-15 Проверить уникальность другого документа
        a(href="/").btn.btn-default-alt.m-t-15 Проверить уникальность в Антиплагиат.ВУЗ
        a(href="/").btn.btn-default-alt.m-t-15 Оформить работу по ГОСТу
        a(href="/").btn.btn-default-alt.m-t-15 Вернуться на главную
      .thank-page__socials
        .share-banner
          .share-banner__title Понравился наш сайт?
          .share-banner__subtitle Поделись им с друзьями!
          .share-banner__socials.socials-colored
            a(href="/", target="_blank", style="background-image:url(/images/icons/socials-colored/telegram.svg);").socials-colored__item
            a(href="/", target="_blank", style="background-image:url(/images/icons/socials-colored/vk.svg);").socials-colored__item
            a(href="/", target="_blank", style="background-image:url(/images/icons/socials-colored/instagram.svg);").socials-colored__item
            a(href="/", target="_blank", style="background-image:url(/images/icons/socials-colored/facebook.svg);").socials-colored__item
            a(href="/", target="_blank", style="background-image:url(/images/icons/socials-colored/whatsapp.svg);").socials-colored__item
            a(href="/", target="_blank", style="background-image:url(/images/icons/socials-colored/viber.svg);").socials-colored__item
            a(href="/", target="_blank", style="background-image:url(/images/icons/socials-colored/ok.svg);").socials-colored__item
            a(href="/", target="_blank", style="background-image:url(/images/icons/socials-colored/youtube.svg);").socials-colored__item
      .thank-page__coupons.coupons 
        .coupons__title Помогите вашим друзьям пройти антиплагиат. 
          span С нас — купоны на скидку 5%!
        .coupons-list
          .coupons-list__item
            .coupons-item
              .coupons-item__title Проверка<br> уникальности
              .coupons-item__count - 5% 
              span.coupons-item__lines
          .coupons-list__item
            .coupons-item
              .coupons-item__title Повышение<br> уникальности
              .coupons-item__count - 5% 
              span.coupons-item__lines
          .coupons-list__item
            .coupons-item
              .coupons-item__title Оформление<br> по ГОСТy
              .coupons-item__count - 5% 
              span.coupons-item__lines
      .thank-page__help
        .thank-page__help-text Остались вопросы?
        a(href="").thank-page__help-link Напишите нам
