.product-page-info {
  @media (max-width: 991.98px) {
    padding-left: 20px;
    border-left: 1px solid rgba(197, 198, 198, 0.25);
  }

  @media (max-width: 767.98px) {
    border-left: none;
    border-top: 1px solid rgba(197, 198, 198, 0.25);
    padding-left: 0;
    padding-top: 20px;
    margin-top: 20px;
  }
}
.product-page-price {
  display: flex;
  align-items: center;
  &__actual {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: $clr-main;
  }
  &__before-discount {
    margin-left: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: rgba(48, 48, 48, 0.33);
    text-decoration: line-through;
  }
}
.product-page-availability {
  margin-top: 10px;
  display: flex;
  align-items: baseline;
  @media (max-width: 991.98px) {
    margin-top: 5px;
  }
  @media (max-width: 767.98px) {
    margin-top: 10px;
  }
  &__title {
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: rgba(48, 48, 48, 0.45);
  }
  &__count {
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: $clr-text;
  }
}
.product-page-counter {
  margin-top: 20px;
  display: flex;
  align-items: center;
  @media (max-width: 991.98px) {
    margin-top: 9px;
  }
  @media (max-width: 767.98px) {
    margin-top: 20px;
  }
  &__title {
    margin-right: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    color: $clr-text;
  }
  &__panel {
    display: flex;
    align-items: center;
    .btn-product-counter {
      padding: 0;
      width: 25px;
      height: 25px;
      background: #f7f7f7;
      border-radius: 50%;
      border: none;
      &.minus {
        position: relative;
        margin-right: 11px;

        &:disabled,
        &.disabled {
          &::before {
            background-color: #c5c6c6;
          }
        }
        &::before {
          content: '';
          position: absolute;
          width: 10px;
          left: calc(50% - 5px);
          top: calc(50% - 1px);
          height: 2px;
          background-color: $clr-black;
        }
      }
      &.plus {
        position: relative;
        margin-left: 11px;

        &:disabled,
        &.disabled {
          &::before,
          &::after {
            background-color: #c5c6c6;
          }
        }
        &::before {
          content: '';
          position: absolute;
          width: 10px;
          left: calc(50% - 5px);
          top: calc(50% - 1px);
          height: 2px;
          background-color: $clr-black;
        }
        &::after {
          content: '';
          position: absolute;
          width: 2px;
          top: calc(50% - 5px);
          left: calc(50% - 1px);
          height: 10px;
          background-color: $clr-black;
        }
      }
    }
    input {
      width: 40px;
      height: 27px;
      border: 1px solid rgba(197, 198, 198, 0.33);
      border-radius: 4px;
      text-align: center;
    }
  }
}
.product-page-control {
  margin-top: 50px;
  display: flex;
  align-items: center;
  @media (max-width: 991.98px) {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  @media (max-width: 767.98px) {
    flex-wrap: nowrap;
  }
  &__item {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      margin-right: 15px;
      @media (max-width: 991.98px) and (min-width: 768px) {
        margin: 0;
        width: 50%;
        padding-right: 5px;
      }
    }
    &:nth-child(2) {
      margin-right: 15px;
      @media (max-width: 991.98px) and (min-width: 768px) {
        margin: 0;
        width: 50%;
        padding-left: 5px;
      }
    }
    &:nth-child(3) {
      @media (max-width: 991.98px) {
        width: 100%;
        margin-top: 10px;
      }
      @media (max-width: 767.98px) {
        margin: 0;
      }
    }
    .btn-like {
      padding: 0;
      height: 46px;
      width: 46px;
      background-size: 22px 22px;
      border: 1px solid $clr-main-alt;
      border-radius: 5px;
      @media (max-width: 991.98px) and (min-width: 768px) {
        width: 100%;
      }
    }
    .btn-compare {
      padding: 0;
      height: 46px;
      width: 46px;
      background-size: 22px 22px;
      border: 1px solid $clr-main;
      border-radius: 5px;
      @media (max-width: 991.98px) and (min-width: 768px) {
        width: 100%;
      }
    }
    .btn-add-to-cart {
      padding: 15px 30px 15px 60px;
      background-position: center left 30px;
      background-size: 20px 20px;
      font-size: 16px;
      line-height: 100%;
      text-align: center;
      letter-spacing: -0.01em;
    }
  }
}
