section.section-favorite.section-p_type2
  .container  
    .favorite
      .section-top.m-b-35
        .page-title Избранные товары
        button.btn-delete.m-t-10.m-md-t-0 Удалить все товары
      .favorite__list
        .favorite__item
          +product-card("Кабель КВОРЭН 1*6-5")
        .favorite__item
          +product-card("Кабель КВОРЭН 1*6-5")
        .favorite__item
          +product-card("Кабель КВОРЭН 1*6-5")
        .favorite__item
          +product-card("Кабель КВОРЭН 1*6-5")
        .favorite__item
          +product-card("Кабель КВОРЭН 1*6-5")
        .favorite__item
          +product-card("Кабель КВОРЭН 1*6-5")
        .favorite__item
          +product-card("Кабель КВОРЭН 1*6-5")