section.section-advantages.section-py.bg-clr-main
  .container
    .section-top.m-b-40.m-md-b-50
      h2.section-title Преимущества
    .advantages-slider.btns-slider-default
      .advantages-slider-wrap.slick-slider-alt
        +advantages-slide('Поддержка по всем вопросам в режиме 24/7', '1.png')
        +advantages-slide('Гарантия результата или мы вернем вам деньги', '2.png')
        +advantages-slide('85-100% уникальности по Антиплагиат.ВУЗ и Антиплагиат.Ру', '3.png')
        +advantages-slide('92% клиентов приходит по рекомендации', '4.png')
        +advantages-slide('Полная анонимность заказа', '5.png')
      .slider-controls
        .btns-switch
          button.btn-switch.prev
            span.arrow 
          button.btn-switch.next
            span.arrow