section.section-differences.section-py.bg-clr-grey-light 
  .container
    .differences
      h3.section-title3.differences__title Основные отличие между автоматическим кодированием, ручным (авторским) и машинным (автоматическим) рерайтом
      .differences-list.f-row.m-n-b-20.m-n-sm-b-30.m-t-30
        .f-col-12.f-col-lg-4.m-b-20.m-sm-b-30
          article.difference-card
            h4.difference-card__title Автоматическое кодирование
            .difference-card__text Текст документа визуально не изменится, но для сервисов, подобных Антиплагиат.ВУЗ, его уникальность поднимется.
            a(href="./images/differences/index1.png", data-fancybox="differences").difference-card__link Посмотреть пример
        .f-col-12.f-col-lg-4.m-b-20.m-sm-b-30
          article.difference-card
            h4.difference-card__title Ручной рерайт
            .difference-card__text Текст переписывается и будет выглядеть немного по другому, но приэтом смысл останется таким же, как и в оригинальном материале.
            a(href="./images/differences/index1.png", data-fancybox="differences").difference-card__link Посмотреть пример
        .f-col-12.f-col-lg-4.m-b-20.m-sm-b-30
          article.difference-card
            h4.difference-card__title Машинный рерайт
            .difference-card__text Машинный рерайт позволяет повысить уникальность текста путем перефразирования, которое осуществляется программой.
            a(href="./images/differences/index1.png", data-fancybox="differences").difference-card__link Посмотреть пример