section.section-faq.section-py
  .container
    .section-top.m-b-40.m-md-b-50
      h2.section-title Часто задаваемые вопросы
    .faq-block
      .faq-block__item.faq-item
        a.faq-item__question.collapsed(role='button', data-toggle='collapse', href='#faq1') Вопрос №1
        #faq1.collapse.faq-item__answer Надо сказать, что заблуждение оспособляет катарсис. Гений понимает под собой данный гений. Мир творит интеллект. Искусство контролирует язык образов. Представляется логичным, что александрийская школа индуцирует позитивизм, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
      .faq-block__item.faq-item
        a.faq-item__question.collapsed(role='button', data-toggle='collapse', href='#faq2') Вопрос №2
        #faq2.collapse.faq-item__answer Надо сказать, что заблуждение оспособляет катарсис. Гений понимает под собой данный гений. Мир творит интеллект. Искусство контролирует язык образов. Представляется логичным, что александрийская школа индуцирует позитивизм, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
      .faq-block__item.faq-item
        a.faq-item__question.collapsed(role='button', data-toggle='collapse', href='#faq3') Вопрос №3
        #faq3.collapse.faq-item__answer Надо сказать, что заблуждение оспособляет катарсис. Гений понимает под собой данный гений. Мир творит интеллект. Искусство контролирует язык образов. Представляется логичным, что александрийская школа индуцирует позитивизм, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
      .faq-block__item.faq-item
        a.faq-item__question.collapsed(role='button', data-toggle='collapse', href='#faq4') Вопрос №4
        #faq4.collapse.faq-item__answer Надо сказать, что заблуждение оспособляет катарсис. Гений понимает под собой данный гений. Мир творит интеллект. Искусство контролирует язык образов. Представляется логичным, что александрийская школа индуцирует позитивизм, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
      .faq-block__item.faq-item
        a.faq-item__question.collapsed(role='button', data-toggle='collapse', href='#faq5') Вопрос №5
        #faq5.collapse.faq-item__answer Надо сказать, что заблуждение оспособляет катарсис. Гений понимает под собой данный гений. Мир творит интеллект. Искусство контролирует язык образов. Представляется логичным, что александрийская школа индуцирует позитивизм, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире.
