section.section-guarantees.section-py
  .container
    .f-row 
      .f-col-12.f-col-lg-4
        .section-top.m-b-40
          h2.section-title Гарантии
      .f-col-12.f-col-lg-8
        .guarantees-list
          .guarantee
            .guarantee__number 01
            .guarantee__text Мы предлагаем уникальную гарантию всем нашим клиентам — высылаем работу вперед, не требуя оплаты услуги. Вы проверяете работу в антиплагиате и оплачиваете только в том случае, если результат вас устроит.
          .guarantee
            .guarantee__number 02
            .guarantee__text Более 1000 реальных отзывов которые клиенты оставили на сайте и прислали нам на Email (живые фото).
          .guarantee
            .guarantee__number 03
            .guarantee__text Каждый заказ клиента закрепляется за менеджером. Ваша работа не будет обработана роботом и выслана автоматически, как на некоторых сайтах. Работа производится лично менеджером под четким контролем. Оформление работы после обработки не поменяется.
          .guarantee
            .guarantee__number 04
            .guarantee__text Если вам будет необходима корректировка процента уникальности в большую или меньшую сторону, мы бесплатно убавим, или наоборот поднимем процент антиплагиата. 

          .guarantee
            .guarantee__number 05
            .guarantee__text Наша разработка — «Программа для копирайтинга и рерайтинга» представлена на одной из самых надежных площадках России - «ЯндексМаркет». Наличие программы на данной площадке говорит о качестве приложения и надежности нашей компании, ведь процедура модерации в системе «ЯндексМаркет» одна из самых сложных и требовательных.
          .guarantee
            .guarantee__number 06
            .guarantee__text Нами получен персональный аттестат Webmoney (Buisness level). Получение данного сертификата — это длительная процедура проверки и модерации компании сотрудниками Webmoney, личная встреча с представителем, и предоставление всех необходимых правовых документов. 
          .guarantee
            .guarantee__number 07
            .guarantee__text Мы гарантируем полную анонимность каждому клиенту.
          .guarantee
            .guarantee__number 08
            .guarantee__text В последнее время в сети появилось много недобросовестных компаний, предлагающих свои услуги. Многие просят внести предоплату. Будьте бдительны! Не оплачивайте услуги и не переводите деньги, пока не получите гарантию результата. Отказываются предоставить гарантию — значит есть что скрывать. 
        .btns-group 
          a(href="").btn.btn-default Проверить уникальность
          a(href="").btn.btn-default Повысить уникальность