section.section-process-steps.section-py
  .container
    .f-row 
      .f-col-12.f-col-lg-6
        h3.section-title3 Как повысить уникальность текста онлайн на ываыва?
        .process-steps-descrtiption
          p Повысить уникальность текста онлайн на сайте аывыва можно не переживая за результат, ведь мы высылаем работу вперед, а оплатить результат вы сможете после проверки документа преподавателем. Для повышения уникальности мы используем качественное кодирование, ваш текст остается без изменений, процент оригинальности будет повышен по всем системам, в любых форматах, а главное, без знака "подозрительный документ" в антиплагиате.
          p Также мы предоставляем Антиплагиат онлайн сервис. Производим проверку текста по системе Антиплагиат ВУЗ в кратчайшие сроки.
      .f-col-12.f-col-lg-6
        .process-steps
          .process-steps__title Три шага, чтобы получить работу:
          .process-steps__scheme
            .process-steps-line
            ol
              li 1. Заполняете форму и прикрепляете свою работу (желательно указать в какой программе ожидается проверка(Antiplagiat.ru, ETXT, ADVEGO и т.д.)) и какой процент уникальности вам необходим.
              li 2. Получаете ГОТОВУЮ работу, проверяете ее на плагиат в любых системах проверки.
              li 3. Лично видите, что работа нами выполнена качественно. Если Вас все устраивает - только тогда оплачиваете.