section.section-programs.section-py.bg-clr-grey-light
  .container
    .section-top.d-flex.justify-content-between.align-items-center.m-b-40.m-md-b-50
      h2.section-title Программы и доступы
      a(href="/programs.html").btn.btn-default-alt.btn-sm.p-x-45.hidden-md-down Все товары
    .programs-slider
      .programs-slider-wrap.slick-slider-alt
        +programs-slide('1.png', 'Новинка', 'В наличии: 19 шт', 'Программа «Антиплагиат Киллер 2022» (Professional)', '19 900 ₽')
        +programs-slide('2.png', 'Акция', 'В наличии: 7 шт', 'Программа «ываываыв» базовая версия (2005-2021)', '5 000 ₽', '15 000 ₽')
        +programs-slide('3.png', 'Рассрочка', 'В наличии: 7 шт', 'Программа, повышающая оригинальность текста «Антиплагиат Киллер 2017 Final» (профессиональная версия)', '15 000 ₽', '25 000 ₽')
        +programs-slide('4.png', 'Хит', 'В наличии: 8 шт', 'Программа, повышающая оригинальность текста «Антиплагиат Киллер 2018» (профессиональная версия)', '15 000 ₽', '25 000 ₽')
    .d-flex.justify-content-center.hidden-md-up.m-t-30
      a(href="/programs.html").btn.btn-default-alt.btn-sm.p-x-45 Все товары