section.section-services.section-py2
  .container
    .f-row.m-n-b-15.m-n-md-b-20.m-n-lg-b-30.service-card-list 
      +service-card('main1.jpg', 'Проверить уникальность текста', 'Краткое описание услуги. Описание программ, нужных студентам, чтобы  проверить и повысить уникальность текста.', 'до 5 мин, от 49 ₽', '/check-unique.html')
      +service-card('main2.jpg', 'Повысить уникальность текста', 'Краткое описание услуги. Описание программ, нужных студентам, чтобы  проверить и повысить уникальность текста.', 'до 5 мин, от 249 ₽', '/make-unique.html')
      +service-card('main3.jpg', 'Заказать рерайт, копирайтинг', 'Краткое описание услуги. Описание программ, нужных студентам, чтобы  проверить и повысить уникальность текста.', 'от 24 ч, от 120 ₽/стр', '/check-unique.html')
      +service-card('main4.jpg', 'Оформить работу по ГОСТу', 'Краткое описание услуги. Описание программ, нужных студентам, чтобы  проверить и повысить уникальность текста.', 'от 12 ч, от 650 ₽', '/make-unique.html')
      +service-card('main5.jpg', 'Очистить текст', 'Краткое описание услуги. Описание программ, нужных студентам, чтобы  проверить и повысить уникальность текста.', 'от 10 мин, 500 ₽', '/check-unique.html')
      +service-card('main6.jpg', 'Программы и доступы', 'Краткое описание услуги. Описание программ, нужных студентам, чтобы  проверить и повысить уникальность текста.', 'от 24 ч, от 120 ₽/стр', '/make-unique.html')
    a(href="/services.html").btn-outline.btn-outline--main.m-t-30
      span.icon-plus 
      span.btn-text все услуги