section.section-why.section-py.bg-clr-grey-light
  .container
    .section-top.m-b-40.m-md-b-50
      h2.section-title Почему нам стоит доверять?
    .f-row.m-n-b-25
      .f-col-12.f-col-md-4.f-col-xl-3.m-b-25
        .why-item 
          .why-item__number 97890
          .why-item__divider
          .why-item__text работ проверено
      .f-col-12.f-col-md-4.f-col-xl-3.m-b-25
        .why-item 
          .why-item__number 7621
          .why-item__divider
          .why-item__text повышена уникальность
      .f-col-12.f-col-md-4.f-col-xl-3.m-b-25
        .why-item 
          .why-item__number 2575
          .why-item__divider
          .why-item__text работ написано