section.section-work-process.section-py.bg-clr-grey-light 
  .container
    .section-top.m-b-40.m-md-b-50
      h2.section-title Как мы работаем?
    .work-process-list.f-row.m-n-b-25.m-n-sm-b-40 
      .f-col-12.f-col-sm-6.f-col-lg-4.m-b-25.m-sm-b-40
        .work-process
          .work-process__number 01
          .work-process__title Загрузка файла
          .work-process__text Загружайте любой файл MS Word в формате *.doc или *.docx всего в одно простое действие
          a(href="#").work-process__link Подробнее о форматах файлов
      .f-col-12.f-col-sm-6.f-col-lg-4.m-b-25.m-sm-b-40
        .work-process
          .work-process__number 02
          .work-process__title Анализ и выбор метода
          .work-process__text Наша интеллектуальная система анализирует и отбирает точный метод для обработки документа
      .w-100
      .f-col-12.f-col-sm-6.f-col-lg-4.m-b-25.m-sm-b-40
        .work-process
          .work-process__number 03
          .work-process__title Обработка нейронной сетью
          .work-process__text Обработка документа нейронными сетями с использованием серверов, построенных на базе процессоров Intel Xeon E5
      .f-col-12.f-col-sm-6.f-col-lg-4.m-b-25.m-sm-b-40
        .work-process
          .work-process__number 04
          .work-process__title Оплата и  получение готового результата 
          .work-process__text Скачайте готовый результат, который будет соответствовать вашим ожиданиям и требованиям
    .work-process-banner.work-process-banner--m-top
      h3.work-process-banner__title Гарантированно пройдем <a href="https://www.antiplagiat.ru/", target="_blank">Антиплагиат.ВУЗ</a> и <a href="https://www.antiplagiat.ru/", target="_blank">Антиплагиат.Ру</a>
      .work-process-banner__subtitle Посмотрите видео о том, как мы помогаем студентам проверить и повысить<br> уникальность текста до 85-100%!
      .work-process-banner__video
        iframe(src='https://www.youtube.com/embed/q9JXx2hH4U0', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
