section.section-slider.section-p_type2
  .container
    .section-content
      .section-title.section-title--slider.m-b-30.m-lg-b-40 Аналоги
      .slider-default.slider-btns-dflt
        .slider-default-wrap.margin-sliders
          .slide-content
            +product-card('Кабель ВВГ-Пнг(А) 3*2.5', 'Воронежкабель', '313057911', 'Под заказ', "По запросу", true)
          .slide-content
            +product-card('Кабель АПвВнг(А)-LS, 15 кВ', 'Конкорд', '3130579119', '5500 м', '75 ₽/м')
          .slide-content
            +product-card('Кабель ПвВнг(А)-LS, 15 кВ', 'Людиновокабель', '4562228002', '1449 м', '129 ₽/м')
          .slide-content
            +product-card('Кабель ВВГ-Пнг(А) 3*2.5', 'Воронежкабель', '313057911', 'Под заказ', "По запросу", true)
          .slide-content
            +product-card('Кабель АПвВнг(А)-LS, 15 кВ', 'Конкорд', '3130579119', '5500 м', '75 ₽/м')
          .slide-content
            +product-card('Кабель ПвВнг(А)-LS, 15 кВ', 'Людиновокабель', '4562228002', '1449 м', '129 ₽/м')
        .slider-controls
          .btns-switch
            button.btn-no-styles.btn-switch.prev
            button.btn-no-styles.btn-switch.next