.article {
  &__title {
    margin-bottom: 20px;
    font-family: $font-family-alt;
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: $clr-text;
    @media (max-width: 991.98px) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

.article-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 575.98px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.article-author {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &:hover {
    text-decoration: none;
  }

  &__img {
    width: 43px;
    height: 43px;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;

    font-family: $font-family-alt;
    font-weight: 500;
    font-size: 20px;
    line-height: 43px;
    color: $clr-text-alt2;
  }
  &__info {
    margin-left: 15px;
  }

  &__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: $clr-text;
  }
  &__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: $clr-text-alt;
  }
}

.article-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: -10px;
  @media (max-width: 575.98px) {
    margin-top: 15px;
  }
  .article-category {
    margin-left: 20px;
    margin-bottom: 10px;
    @media (max-width: 991.98px) {
      margin-left: 15px;
    }
    @media (max-width: 575.98px) {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
.article-category {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: $clr-text;

  border: 1px solid #fad849;
  border-radius: 25px;
  padding: 6px 14px;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $clr-text;
  }
}

.article-content {
  margin-top: 25px;
  border-top: 1px solid transparentize($clr-secondary, 0.9);
  padding-top: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: $clr-text;

  @media (max-width: 991.98px) {
    font-size: 14px;
    margin-top: 20px;
  }

  img {
    margin-bottom: 30px;
    width: 100%;
    @media (max-width: 991.98px) {
      margin-bottom: 20px;
    }
  }
  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.article-btns {
  display: flex;
  margin: 30px -8px 0;
  @media (max-width: 1199.98px) {
    flex-wrap: wrap;
    margin: 30px -8px -15px;
  }
  @media (max-width: 991.98px) {
    margin: 20px -8px -15px;
  }
  .btn {
    margin: 0 8px;
    font-size: 14px;
    width: 100%;
    padding: 15px 10px;
    @media (max-width: 1199.98px) {
      width: calc(50% - 16px);
      margin-bottom: 15px;
    }
    @media (max-width: 991.98px) {
      padding: 11px 10px;
    }
  }
}

.article-btns-block {
  margin-bottom: -15px;
  .btn {
    width: 100%;
    margin-bottom: 15px;
    @media (max-width: 991.98px) and (min-width: 767.98px) {
      font-size: 14px;
      padding: 11px 10px;
    }
  }
}
